body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul.topScreen {
  display: flex;
  background-color: rgba(211, 211, 211, 0.48);
  border-bottom: 1px solid rgba(128, 128, 128, 0.375);
  margin-bottom: 0;
}

li.first {
  list-style: none;
  margin: 10px;
  color: green;
  font-weight: bold;
  font-size: 60%;
}
li.first a {
  color: green;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.deroulant {
  position: absolute;
  left: 180px;
}

.btn-deroulant {
  background-color: green;
  color: white;
}
.btn-deroulant:hover {
  background-color: rgb(17, 95, 17);
  color: white;
}
.btn-deroulant .mini {
  background: green;
  color: white;
}

.loupe {
  color: rgb(53, 53, 53);
  scale: 1.6;
  margin-right: 40px;
}
.loupe:hover {
  color: green;
}

.photoBack {
  height: 300px;
  width: 100%;
}

.bandeau {
  display: flex;
  background-color: rgba(17, 123, 17, 0.648);
  justify-content: space-around;
  margin: 0;
  padding: 10px;
}

.icons {
  height: 50px;
  width: 50px;
}

.text {
  display: flex;
  font-size: 40%;
  justify-content: space-around;
  background-color: rgba(17, 123, 17, 0.648);
  padding: 10px;
  margin: 0;
  color: white;
  border-top: 1px solid rgba(17, 123, 17, 0.648);
}

.event {
  padding: 20px;
  text-align: justify;
  padding-bottom: 50px;
}
.event h2 {
  color: green;
  margin-bottom: 20px;
}

.btn1 {
  background-color: green;
  color: rgb(255, 255, 255);
  width: 100%;
}
.btn1:hover {
  background-color: rgb(17, 104, 17);
  color: rgb(255, 255, 255);
}

.school img {
  height: 300px;
  width: 100%;
}

.school {
  background-color: green;
  color: white;
}

.school > h2 {
  text-align: center;
  margin-top: 20px;
}

.school > div {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 15px;
}

.help {
  text-align: center;
  color: green;
  padding: 20px;
}
.help h2 {
  margin-top: 10px;
}
.help h5 {
  margin: 20px;
}

.btn2 {
  background-color: green;
  color: white;
  margin: 20px;
}
.btn2:hover {
  background-color: rgb(8, 73, 8);
  color: white;
}

.modal {
  color: green;
}

@media screen and (min-width: 480px) {
  .loupe {
    position: absolute;
    right: 30px;
  }
  .btn1 {
    width: 50%;
    margin-top: 30px;
  }
}
@media screen and (min-width: 576px) {
  .logo {
    left: 30px;
  }
  .container {
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 630px) {
  .menus {
    display: flex;
  }
  .btn1 {
    width: 30%;
  }
  .logo {
    position: relative;
    left: -60px;
  }
  .loupe {
    right: 10px;
  }
  .main2 {
    width: 80%;
    margin: auto;
  }
  .school {
    border-radius: 5px;
  }
  .school img {
    border-radius: 5px;
  }
  .logo {
    margin-left: 60px;
  }
}
@media screen and (min-width: 700px) {
  main {
    width: 80%;
    margin: 0 auto;
  }
  .event {
    text-align: center;
  }
  .school {
    border-radius: 5px;
  }
  .school img {
    border-radius: 5px;
  }
  .carousel-inner {
    border-radius: 5px 5px 0 0;
  }
  .text {
    border-radius: 0 0 5px 5px;
  }
}
@media screen and (min-width: 800px) {
  .main2 {
    width: 60%;
  }
}
@media screen and (min-width: 900px) {
  .main2 {
    width: 80%;
    margin: auto;
  }
  .school {
    width: 80%;
    margin: auto;
  }
  .help {
    width: 60%;
    margin-left: 70px;
    margin: auto;
  }
}
@media screen and (min-width: 1000px) {
  .main2 {
    display: flex;
  }
  .school {
    width: 60%;
  }
  .help {
    width: 40%;
    margin-left: 50px;
  }
  .contanier-fluid {
    width: 80%;
  }
  .btn1 {
    width: 20%;
  }
}
@media screen and (min-width: 1400px) {
  .school {
    width: 70%;
  }
  .help {
    width: 50%;
    margin-left: 190px;
  }
  .loupe {
    margin-right: 50px;
  }
}/*# sourceMappingURL=style.css.map */